@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #000;
}

html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.header {
    background: linear-gradient(#7c7c7c3d,transparent);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(13.5px);
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    margin-bottom: 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;

}

.logo {
    margin-right: auto;
    /* border: 2px solid red; */

}

.navbar a {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    /* border: 2px solid red; */
}

@media (max-width:1200px){
    .header{
        padding: 2rem;
    }
    .navbar a{
        margin-right: 2rem;
        font-size: 20px;
    }
}
@media (max-width:768px){
    .logo img{
        width: 45px;
    }
    .navbar a{
        font-size: 16px;
        margin: 0 1rem;
    }
}
@media (max-width:450px){
    .logo img{
        width: 30px;
    }
    .navbar a{
        font-size: 12px;
        /* border: 2px solid red; */
        margin-right: 0;
    }
    .header{
        padding: 1rem 6%;
    }
}

.blogTopic {
    display: flex;
    flex-direction: column;
}

.blogTopicRow1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.blogTopicRow2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blogHero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

.blogHeadingSpan {
    background: linear-gradient(#7c7c7c3d,transparent);
    box-shadow: 8px 18px 44px 28px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    width: 40vw;
    height: 25vh;
    border: 0.5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blogHeadingSpan h1 {
    padding: 0;
    margin: 0;
    background: linear-gradient(#fff,#ffe29d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 5vw;
    font-family: afr;
}

.blogTopicName h2 {
    padding: 0;
    margin: 0;
    background: linear-gradient(#fff,#ffe29d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2vw;
    font-family: afr;
}

.blogTopicName {
    position: relative;
    margin: 5vh 5vw;
    background: linear-gradient(105.47deg, rgba(255, 255, 255, 0.2) 19.19%, rgba(255, 255, 255, 0) 88.97%);
    box-shadow: 8px 18px 44px 28px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    border: 0.5px solid white;
    height: 20vh;
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.blogArrowHor {
    position: absolute;
    width: 60vw;
    height: 0;
    border: 0.5px solid white;
    left: -20vw;
    bottom: 30vh;
}

.blogArrowVer {
    position: absolute;
    height: 10vh;
    width: 0;
    border: 0.5px solid white;
    bottom: 20vh;
}

.blogHeadingArrow {
    position: absolute;
    height: 5vh;
    width: 0;
    border: 0.5px solid white;
    bottom: 30vh;
}

.blogArrowVerRow2 {
    position: absolute;
    height: 35vh;
    width: 0;
    border: 0.5px solid white;
    bottom: 20vh;
}

.blogArrowHorRow2 {
    position: absolute;
    width: 30vw;
    height: 0;
    border: 0.5px solid white;
    left: -5vw;
    bottom: 25vh;
}

@media only screen and (max-width: 1000px) {
    .blogHeadingSpan {
        width: 66vw;
    }

    .blogHeadingSpan h1 {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 620px) {
    .blogHeadingSpan h1 {
        font-size: 9vw;
    }

    .blogHeadingSpan {
        height: 20vh;
        border-radius: 25px;
    }

    .blogTopicName h2 {
        font-size: 2.8vw;
    }

    .blogTopicName {
        height: 17vh;
        border-radius: 25px;
    }

    .blogArrowHor {
        bottom: 27vh;
    }

    .blogArrowVer {
        bottom: 17vh;
    }

    .blogHeadingArrow {
        bottom: 27vh;
    }

    .blogArrowVerRow2 {
        bottom: 17vh;
        height: 32vh;
    }

    .blogArrowHorRow2 {
        bottom: 22vh;
    }
}

@media only screen and (max-width: 500px) {
    .blogHeadingSpan h1 {
        font-size: 10vw;
    }
}

.blogsRecentBlogsHeading{
    background: linear-gradient(#000,#1b033c,#000);
}

.blogsRecentBlogsHeading>p:nth-child(1) {
    font-size: 2.4rem;
    background: linear-gradient(#fff,#ffe29d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: afr;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem 0;
    font-weight: 700;
    margin-top: 2rem;
}

.recentBlogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0 0;
}

.recentBlogCard {
    width: 75%;
}

.IndividualBlogPreview {
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.1742) 0%, rgba(217, 217, 217, 0) 100%);
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 30px 4vw;
    border-radius: 45px;
    /* border: 0.5px solid white; */
    margin: 10px 0 40px 0;
    overflow: hidden;
}

.blogImage img {
    width: 250px;
    height: 200px;
}

.blogPreview {
    display: flex;
    flex-direction: column;
    color: white;
}

.blogPreviewHeading {
    box-sizing: border-box;
    padding: 0px 50px;
    font-size: 24px;
}

.blogPreviewContext p {
    box-sizing: border-box;
    padding: 10px 40px;
    text-align: justify;
    font-size: 16px;
    color: white;
    line-height: 20px;
}
.blogPreview a {
    font-size: 16px;
    margin: 10px 5vw;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    text-decoration: none;
    border: 1px solid white;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .blogPreview {
        width: 66vw;
    }

    .blogPreviewHeading{
        font-size: 24px;
        padding: 0px;
    }

    .IndividualBlogPreview {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blogPreviewContext p {
        box-sizing: border-box;
        padding: 12px 0;
    }
}

@media only screen and (max-width: 450px) {
    .blogImage img {
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: -10px;
    }

    .blogPreviewContext {
        padding: 0;
        font-size: 14px;
    }

    .IndividualBlogPreview{
        padding: 0;
        margin: 15px 0;
    }
    .blogPreviewHeading{
        font-size: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .blogsRecentBlogsHeading>p:nth-child(1) {
        font-size: 28px;
    }
    .blogImage {
        margin-top: 10px;
        width: auto;
    }

    .blogPreviewContext {
        padding: 0 ;
        margin: 0;
    }

    .blogPreviewHeading {
        padding-left: 25px;
    }
}


.footer{
    width: 90vw;
    margin: 2.8rem auto;
    background: linear-gradient(178.62deg, rgba(198, 198, 198, 0.35) 1.24%, rgba(198, 198, 198, 0) 69.61%);
    padding: 1rem;
    border-radius: 2rem;
    border: .5px solid rgba(217, 217, 217, 0.24);
    color: white;
}
.footer .footerWrapper{
    display: flex;
}
.footer .footerHeading{
    font-size: 3rem;
    color: #94ffff;
    font-style: italic;
    margin: 1rem 0;
}

.faq, .contact, .find{
    font-size: 1.5rem;
}
.footer .footerWrapper .left{
    width: 50%;
    padding: 0 1rem;
    letter-spacing: .2rem;
}
.footer .footerWrapper .right{
    width: 50%;
    padding: 0 1rem;
}
.footer .footerWrapper .right input,
.footer .footerWrapper .right textarea{
    width: 100%;
    border: none;
    outline: none;
    margin: .5rem 0;
    padding: .6rem;
    background: none;
    border: 1px solid #bbb;
    color: #fff;
    border-radius: .4rem;
}
.footer .footerWrapper .right button{
    padding: .6rem;
    background: rgba(217, 217, 217, 0.24);
    border: none;
    border-radius: .4rem;
    font-size: 1.1rem;
    color: #bbb;
    transition: .2s;
}
.footer .footerWrapper .right button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.footer .footerBottom{
    text-align: center;
    margin: 0 1rem;
}
.footer .footerBottom .footerSocial{
    font-size: 1.5rem;
}
.footer .footerBottom .footerSocial i{
    margin: .5rem;
}
@media only screen and (max-width: 1000px) {
    .footer .footerWrapper .left{
        letter-spacing: .05rem;
    }
}
@media only screen and (max-width: 780px) {
    .footer .footerWrapper .left{
        letter-spacing: initial;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 550px) {
    .footer{
        padding: 2rem 1rem;
    }
    .footer .footerWrapper{
        flex-direction: column;
    }
    .footer .footerWrapper .left{
        width: 100%;
        font-size: 1rem;
    }
    .footer .footerWrapper .right{
        width: 100%;
    }
}