@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.header{
    top: 0; left: 0; right: 0;
    padding: 2rem 9%;
    padding-bottom: 1rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.logo img{
    width: 60px;

}
.logo{
    margin-right: auto;
    /* border: 2px solid red; */
    
}
.navbar a{
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 2rem;
        font-weight: 500;
        color: rgb(24, 48, 55);
        /* border: 2px solid red; */
}
.navbar a:hover{
    color: black;
}
.sectionimg{
    height: 230px;
    background-image: url(../../featue-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sectionbg{
    background-color: rgba(29, 25, 44,.8);
    height: 230px;
}
.sectionbg h1{
    padding: 8rem 20rem;
    font-size: 44px;
    text-align: center;
    color: #fff;
    font-weight: 200;
    letter-spacing: 6px;
    margin-top: 0;
    text-transform: capitalize;
}

/* categories section css */

.blogsection{
    padding-top: 3rem;
    display: flex;
    margin: 0 6rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid red; */
}
.blog{
    text-align: center;
    margin: 0 2rem 1rem 2rem;
    /* border: 2px solid red; */
}
.blog h2{
    text-align: left;
    padding: 0 .5rem;
    font-size: 17.5px;
    color: black;
}
/* .blog img:hover{
    box-shadow: 3px 3px 15px rgb(59, 59, 59);
} */
.blog img{
    width: 400px;
    height: 240px;
    margin-bottom: 1rem;
}
.blog p{
    text-align: left;
    padding: 0 .5rem;
    text-transform: none;
    text-align: justify;
    font-size: 14px;
    width: 400px;
    height: 150px;
    color: rgba(17, 17, 17, 0.932);
    /* display: contents; */
}



.newbutton{
    font-size: 15px;
    color: white;
    background-color: rgb(0, 0, 75);
}
.newbutton span{
    font-weight: 400;
    /* margin: 10px 20px; */
    padding: 4rem 5rem;
}
.newbutton:hover{
    background-color: rgb(50, 128, 255);
}





/* footer section css */
.footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 4rem 0 0 0;
    background-color: #111;
    /* border: 2px solid red; */
}
.contact{
    padding: 0 22rem 0 5rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0 0 0;
    color: #014377;
    /* border: 2px solid red; */
}
.contact p{
    margin: 1rem;
    font-weight: normal;
    font-size: 2rem;
    color: #999898;
    /* border: 2px solid red; */
}
.follow{
    padding: 0 5rem 0 22rem;
    margin: 2rem 0 0 0;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #014377;
    /* border: 2px solid red; */
}
.icons{
    font-size: 30px;
    text-align: center;
    /* border: 2px solid red; */
}
.icons a{
    margin: 0 2px;
    color: #999898;
}
.icons a :hover{
    color: whitesmoke;
}
.copyright{
    width: 100vw;
    font-size: 1.3rem;
    text-align: center;
    color: #999898;
    background-color: #111111;
    padding: 1rem 0;
    text-transform: none;
}





















































/* Media queries */

@media (max-width:1200px){
    .header{
        padding: 2rem;
    }
    .navbar a{
        margin-right: 2rem;
        font-size: 20px;
    }
    .blogimg img{
        margin: 1rem 15%;
        margin-top: 4rem;
        height: 400px;
    }
    .sectionimg{
        background-size: contain;
        height: 200px;
    }
    .sectionbg{
        height: 200px;
    }
    .sectionbg h1{
        padding: 8rem 8rem;
        font-size: 40px;
        font-weight: 200;
        letter-spacing: 5px;
    }
    .blogsection{
        width: 100%;
        display: inline-block;
        margin: 0;
    }
    .blog{
        display: inline-block;
        margin: 2rem 8rem;
    }
    .blog img{
        width: 600px;
        height: auto;
    }
    .blog h2{
        font-size: 28px;
    }
    .blog p{
        width: 600px;
    }
    .contact{
        padding: 0 10rem 0 3rem;
        font-size: 4rem;
        margin: 2rem 0 0 0;
    }
    .follow{
        padding: 0 3rem 0 10rem;
        margin: 2rem 0 0 0;
        font-size: 4rem;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}
@media (max-width:768px){
    .logo img{
        width: 45px;
    }
    .navbar a{
        font-size: 16px;
        margin: 0 1rem;
    }
}
@media (max-width:540px){
    .blogsection{
        margin: 0 0rem;
    }
    .blog{
        display: inline-block;
        margin: 2rem 4rem;
    }
    .blog img{
        width: 450px;
        height: auto;
    }
    .blog h2{
        font-size: 20px;
    }
    .blog p{
        font-size: 13px;
        width: 450px;
        height: 200px;
    }
    .footer{
        margin-bottom: -1px;
        padding: 0;
    }
    .contact{
        padding: 0 6rem 0 3rem;
        font-size: 3rem;
        margin: 1rem 0 0 0;
    }
    .follow{
        padding: 0 3rem 0 6rem;
        margin: 1rem 0 0 0;
        font-size: 3rem;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .logo img{
        width: 30px;
    }
    .navbar a{
        font-size: 12px;
        margin-right: 0;
    }
    .header{
        padding: 1rem 6%;
    }
    .sectionimg{
        background-size: contain;
        height: 140px;
    }
    .sectionbg{
        height: 140px;
    }
    .sectionbg h1{
        padding: 6rem 2rem;
        font-size: 24px;
        font-weight: 150;
        letter-spacing: 3px;
    }
    .blogsection{
        width: 100%;
        display: inline-block;
        margin: 0;
    }
    .blog{
        display: inline-block;
        margin: 2rem 3rem;
    }
    .blog img{
        width: 260px;
        height: auto;
    }
    .blog h2{
        font-size: 20px;
    }
    .blog p{
        font-size: 13px;
        width: 300px;
        height: 200px;
    } 
    
    .footer{
        /* width: 100vw; */
        display: inline-block;
        margin: 0;
        margin-top: 0;
    }
    .contact{
        padding: 0;
        font-size: 3rem;
    }
    .contact p{
        margin: 2px 0 5px 0;
    }
    .follow{
        padding: 0;
        font-size: 3rem;
    }
    .icons{
        font-size: 24px;
    }
    .copyright{
        margin: 0;
        margin-top: -0.7px;
    }
}